{{#if label}}
  <label for="{{prop}}">{{label}}</label>
{{/if}}
{{input
  value=(mut (get model prop))
  placeholder=placeholder
  type=type
  step=step
  disabled=disabled
  min=min
  max=max
  class="form-control"}}
{{#each (get model.errors prop) as |error|}}
  <div class="errors">
    {{error.message}}
  </div>
{{/each}}
{{#if (v-get model prop 'isInvalid')}}
  <div class="errors">
    {{v-get model prop 'message'}}
  </div>
{{/if}}