{{#if label}}
  <label for="{{prop}}">{{label}}</label>
{{/if}}
{{#power-select
  options=options
  selected=selected
  searchField=searchField
  onchange=(action 'onSelect')
  as |option|}}
  {{get option name}}
{{/power-select}}
{{#each (get model.errors prop) as |error|}}
  <div class="errors">
    {{error.message}}
  </div>
{{/each}}
{{#if (v-get model prop 'isInvalid')}}
  <div class="errors">
    {{v-get model prop 'message'}}
  </div>
{{/if}}