{{#if label}}
  <label for="{{prop}}">{{label}}</label>
{{/if}}
{{tinymce-editor
  options=options
  value=(get model prop)
  onValueChanged=(action "onChange")}}
{{#each (get model.errors prop) as |error|}}
  <div class="errors">
    {{error.message}}
  </div>
{{/each}}
{{#if (v-get model prop 'isInvalid')}}
  <div class="errors">
    {{v-get model prop 'message'}}
  </div>
{{/if}}

